.theme-switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: 10px;
}

.theme-icon {
  display: flex;
  align-items: center;

  padding: 20px;
}

.theme-icon .icon {
  height: 28px;
  fill: var(--text-secondary);
}

.theme-icon:hover {
  cursor: pointer;
}