html {
  --background: #fbfefb;
  --text-primary: var(--background);
  --text-secondary: #092207;
  --color-primary: rgba(255, 99, 132, 0.6);
  --color-secondary: #efc3ef;
  --color-accent: #c832c8;
  --color-hover: #e0e4e1;
  --graph-color: #666666;

  /* Material Design stuff */
  --mdc-theme-primary: #c832c8;
  --mdc-theme-secondary: #efc3ef;
}

html.theme-dark {
  --background: #3d3d3d;
  --text-primary: var(--background);
  --text-secondary: #fbfefb;
  --color-primary: rgba(255, 99, 132, 0.6);
  --color-secondary: #efc3ef;
  --color-accent: #c832c8;
  --color-hover: #474747;
  --graph-color: #afafaf;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text-secondary);

  font-family: 'Montserrat', sans-serif;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

main,
#root {
  height: 100%;
  width: 100%;
}

.title {
  font-family: 'Dela Gothic One', cursive;
  font-size: 28px;
  color: var(--text-secondary);
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 32px;

  margin: 10px
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  width: 50%;
  height: 100%;
}

.header-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 49%;
  height: 100%;
}

#header img {
  height: 120%;
  padding-right: 10px;
}